@import 'src/styles';

.mat-expansion-panel {
  margin: 3px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px -1px 4px 0px rgba(0, 0, 0, 0.12);
}

.mat-expansion-panel-header-description {
  color: rgba(0, 0, 0, 0.65);
}

.mat-expansion-panel-header {
  font-size: 13px;
  color: #333333;
  padding: 0 16px;
}

.mat-expansion-panel-header-description {
  margin-right: 6px;
}

.mat-expansion-panel-header-description:last-child {
  margin-right: 2px;
}

.mat-accordion .mat-expansion-panel.mat-expansion-panel-spacing.mat-expanded {
  margin-bottom: 10px;
}

.log-entry__time {
  flex: 0 0 56px;
}

.log-entry__name {
  flex: 1 1;
  min-width: 15px;
  color: #333333;

  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.log-entry__monitor-type {
  flex: 0 0 50px;
  color: rgba(0, 0, 0, 0.54);
  justify-content: center;
}

.log-entry__result-code {
  flex: 0 0 50px;
}

.mat-expansion-panel::after {
  position: absolute;
  top: 0;
  display: block;
  content: ' ';
  width: 6px;
  height: 100%;
}

.log-entry--ok .mat-expansion-panel::after {
  background-color: mat-color(mat-palette($mat-green, 500));
}

.log-entry--unconfirmed_error .mat-expansion-panel::after {
  background-color: #333333;
}

.log-entry--confirmed_error .mat-expansion-panel::after {
  background-color: mat-color(mat-palette($mat-red, 500));
}

.log-entry--maintenance .mat-expansion-panel::after {
  background-color: mat-color(mat-palette($mat-blue, 500));
}

.log-entry--unscheduled .mat-expansion-panel::after {
  background-color: mat-color(mat-palette($mat-gray, 500));
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.mat-accordion .mat-expansion-panel {
  border-radius: 2px;
}

.log-entry ::ng-deep .mat-expansion-panel-body {
  padding: 0 16px 8px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.65);
}

.details__time-rov {
  display: flex;
  justify-content: space-between;
}

.mat-stroked-button {
  padding: 0 10px;
  line-height: 24px;
  float: right;
}
