<div [className]="'log-entry log-entry--' + logEntry.result.type">
  <div class="logs-entry__date-badge" *ngIf="isToShowDate()">{{ logEntry.start | date:'longDate' }}</div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'34px'">
        <mat-panel-description class="log-entry__time">
          {{ logEntry.start | date:'shortTime' }}
        </mat-panel-description>
        <mat-panel-description class="log-entry__name" title="{{ logEntry.monitor.name }}">
          <span>{{ logEntry.monitor.name }}</span>
        </mat-panel-description>
        <mat-panel-description class="log-entry__monitor-type">
          {{ logEntry.monitor_type }}
        </mat-panel-description>
        <mat-panel-description class="log-entry__result-code">
          ({{ logEntry.result.code }})
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="log-entry__details">
        <div><b>Description:</b> {{ logEntry.result.description }}</div>
        <div><b>Location:</b> {{ logEntry.location.name }}</div>
        <div><b>Date:</b> {{ logEntry.start | date:'long' }}</div>
        <div class="details__time-rov">
          <div><b>Resolve:</b> {{ logEntry.metrics.rtime }}</div>
          <div><b>Connect:</b> {{ logEntry.metrics.ctime }}</div>
          <div><b>Processing:</b> {{ logEntry.metrics.ptime }}</div>
        </div>
        <div><b>Total:</b> {{ logEntry.metrics.rtime + logEntry.metrics.ctime + logEntry.metrics.ptime }} ms</div>
        <button mat-stroked-button
                (click)="openLog()" class="details_view-link">Detailed Log</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
