<div class="menu">
  <a [routerLink]="['/stat']" [routerLinkActive]="'menu__button--active'"
     class="menu__button menu__button-stat ">
    <mat-icon>pie_chart</mat-icon>
  </a>
  <a [routerLink]="['/logs']" [routerLinkActive]="'menu__button--active'"
     class="menu__button menu__button-logs">
    <mat-icon>view_list</mat-icon>
  </a>
  <a [routerLink]="['/monitors']" [routerLinkActive]="'menu__button--active'"
     class="menu__button menu__button-monitors">
    <mat-icon [matBadge]="getSelectedMonitors()" matBadgeSize="small" matBadgeColor="warn">assignment_turned_in</mat-icon>
  </a>
</div>
