<div class="menu">
  <a [routerLink]="['/widget']" [routerLinkActive]="'menu__button--active'"
     class="menu__button menu__button-widget ">
    <mat-icon>pie_chart</mat-icon>
  </a>
  <a [routerLink]="['/logs']" [routerLinkActive]="'menu__button--active'"
     class="menu__button menu__button-logs">
    <mat-icon>view_list</mat-icon>
  </a>
  <a [routerLink]="['/monitors']" [routerLinkActive]="'menu__button--active'"
     class="menu__button menu__button-monitors">
    <mat-icon>assignment_turned_in</mat-icon>
  </a>
</div>
