@import 'src/styles';

.monitors-filters {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: calc(100% - 7px);
  top: 54px;
  z-index: 1;
  background-color: white;
  box-shadow: 0 4px 4px -2px #ffffff;
  padding-left: 2px;
}

.monitors-filters__left {
  display: flex;
}

